GRAPHICS=yes
TIMEOUT=5
DEFAULT_ENTRY=0
INTERFACE_BRANDING=By Aren Elchinyan
BACKGROUND_STYLE=stretched
BACKGROUND_PATH=boot:///boot.png
#TERM_FONT=boot:///CYRILL2.F16
#TERM_FONT_SIZE=8x16

:BMOSP (KASLR on)
    RESOLUTION=640x480
    PROTOCOL=limine
    KASLR=no
    KERNEL_PATH=boot:///kernel.elf

    MODULE_PATH=boot:///mod/hello.so
    MODULE_CMDLINE=[MOD]hello.so

    #MODULE_PATH=boot:///boot.png
    #MODULE_CMDLINE=bootimage